
body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
  }
#header{
  position: sticky;
  top: 0px;
}

#header ul {
  background-color: #0072CE;
}
.lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.lista li {
  display: inline-block;
  min-width: 5em;
  margin: 0 0.5em;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
}
  .lista a {
  text-decoration: none;
  display: block;
  font-family:Arial;
  position: relative;
  color: rgb(255, 255, 255);
  padding:.5em 0;
  font-family: 'Open Sans';
}
#header li:hover{
  background-color: #3990d6a3;
}
#header li a i{
  padding-right: 7%;
  }
#sageata{
  padding-left: 5%;
}
.column {
  float: left;
  width: 50%;
  height: 60%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#coloana2{
  background-color: rgb(232, 31, 188);
  background-image: url('img.jpg');
  background-repeat: no-repeat;
}
.form {
  background-color: #15172b;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  visibility: hidden;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;

}

.submit:active {
  background-color: #06b;
}


