
body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
  }
#header{
  position: sticky;
  top: 0px;
}

#header ul {
  background-color: #0072CE;
}
.lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.lista li {
  display: inline-block;
  min-width: 5em;
  margin: 0 0.5em;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
}
  .lista a {
  text-decoration: none;
  display: block;
  font-family:Arial;
  position: relative;
  color: rgb(255, 255, 255);
  padding:.5em 0;
  font-family: 'Open Sans';
}
#header li:hover{
  background-color: #3990d6a3;
}
#header li a i{
  padding-right: 7%;
  }
#sageata{
  padding-left: 5%;
}
.column {
  float: left;
  width: 50%;
  height: 60%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#coloana1{
  background-color: aqua;
  height: 60%;
}
#coloana2{
  background-color: rgb(232, 31, 188);
  background-image: url('img.jpg');
  background-repeat: no-repeat;

}
#titluformular{
  background-color: rgb(228, 17, 38);
  height: 30%;
}
#formular{
  background-color: rgb(23, 181, 20);
  height: 70%;
}

