
body {
margin: 0;
font-family: "Quicksand", sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #ffffff;
background-color: #15172b;
}

#header {
background-color: #0072CE;
padding: 0.5% 0%;
font-size: 150%;
top: 0px;
text-align: center;
margin: auto;
}


.form {
background-color: #1c1e34;
border-radius: 30px;
box-sizing: border-box;
height: 400px;
padding: 20px;
width: 60%;
margin: auto;
margin-top: 20px;

}

.title {
color: #eee;
font-family: sans-serif;
font-size: 36px;
font-weight: 500;
margin-left: 2.5%;
}

.input-container {
height: 50px;
position: relative;
}

.containers {
align-self: center;
float: left;
clear: none;
width: 95%;
margin: 0 2.5%;
}

.ic2 {
margin-top: 30px;
width: 100%;
}

.containers div {
float: left;
clear: none;
}

.container1 {
width: 47.5%;
}

.container2 {
margin-left: 5%;
width: 47.5%;
}

.input {
background-color: #303245;
border-radius: 12px;
border: 0;
box-sizing: border-box;
color: #eee;
font-size: 18px;
height: 100%;
outline: 0;
width: 100%;
padding: 0% 5%;
}

.cut {
background-color: #15172b;
border-radius: 10px;
height: 20px;
left: 20px;
position: absolute;
top: -20px;
transform: translateY(0);
transition: transform 200ms;
width: 76px;
}

.placeholder {
color: #65657b;
font-family: sans-serif;
left: 5%;
font-size: 18px;
line-height: 14px;
pointer-events: none;
position: absolute;
transform-origin: 0 50%;
transition: transform 200ms, color 200ms;
top: 20px;
}

#start{
  margin: auto;
  text-align: left;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
visibility: hidden;
}

.submit {
background-color: #0072CE;
border-radius: 12px;
border: 0;
align-self: center;
box-sizing: border-box;
color: #eee;
cursor: pointer;
font-size: 18px;
height: 50px;
margin-top: 30px;
outline: 0;
text-align: left;
width: 50%;
}
.submit span {
margin-left: 10%;
}

.submit:hover {
background-color: #3990d6a3;
}

#div2 {
height: 100%;
}

#footer a {
  color:white;
}

#footer{
  margin: auto;
  background-color: #0072CE;
  font-size: 125%;
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5% 0%;
}

li {
  display: inline;
  margin: auto;
}

li:nth-child(even) {
padding-right: 2%;
}

li:nth-child(5) {
padding-right: 2%;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#location {
  height: 70%;
  width: 55%;
  margin: auto;
  background-color: #1c1e34;
  border-radius: 30px;
  margin-top: 30px;
  padding: 2.5%;
  font-family: sans-serif;
  margin-bottom: 30px;
}
#map{
  height: 90%;
  width: 100%;

}
#adress{
  width: 100%;
  padding-bottom: 2.5%;
}
#adress p{
  font-size: 200%;
  margin: auto;
}
